@font-face {
    font-family: 'RobotoMono';
    src: local('RobotoMono-Bold'), url('./fonts/RobotoMono-Bold.ttf') format('truetype');
}

.app {
    z-index: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    background-color: #032334;
    width: 1000px;
    padding: 20px;
    text-align: center;
    margin: 20px auto;
    font-family: 'Roboto Mono';
    font-style: bold;
    color: white;
}

.gameSetup {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.setupButtons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-basis: 100%;

}

.setupStartGame {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-basis: 100%;
}

.setupHeaders {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-basis: 100%;
}

.guessList {
    list-style: none;
    display: flex;
    padding: 0;
    gap: 5px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.guessListItem {
    width: 40px;
    font-size: 40px;
    gap: 5px;
    display: flex;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    align-content: center;
    justify-content: center;
    outline: 1px solid rgba(0, 0, 0, 0.233);
    font-family: 'Roboto Mono';
    font-weight: bold;
}

.guessContainer {
    display: flex;
    height: fit-content;
    flex-direction: column;
}

.duplicateButtons button {
    margin: 10px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    font-family: 'Roboto Mono';
    font-weight: bold;
    border-style: none;
    cursor: pointer;
    background-color: #144A68;
    color: white;
    text-shadow: black 2px 2px 2px;
    font-size: 24px;
}



.lengthButtons button {
    margin: 10px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    font-family: 'Roboto Mono';
    font-weight: bold;
    border-style: none;
    cursor: pointer;
    background-color: #144A68;
    color: white;
    text-shadow: black 2px 2px 2px;
    font-size: 24px;
}

.duplicateButtons button.active {
    border: 2px solid white;
}

.lengthButtons button.active {
    border: 2px solid white;
}

.GuessForm {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.guessForm__input {
    display: flex;
    border-radius: 10px;
    font-size: 40px;
    width: 500px;
    text-align: center;
    font-family: 'Roboto Mono';
    font-weight: bold;
}

.guessForm__submitButton {
    display: flex;
    font-size: 36px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    font-family: 'Roboto Mono';
    font-weight: bold;
    border-style: none;
    cursor: pointer;
    background-color: #144A68;
    color: white;
    text-shadow: black 2px 2px 2px;
}