body,
html {
  margin: 0;
  padding: 0;
  background-color: #032334;
}

* {
  font-family: 'Roboto Mono', sans-serif;
}

.menuItems {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  background-color: #032334;
  color: white;
  width: 100vw;
  height: 150px;
  list-style: none;
  margin: 0;
  li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    a {
      text-decoration: none;
      color: white;
    }
  }
}

.homeButton a {
  margin-right: 50vw;
  h1 {
    font-size: 52px;
    margin: 0;
  }
}

.redLetter {
  color: #ff0000;
}

.greenLetter {
  color: #00ff00;
}

.yellowLetter {
  color: #ffff00;
}

.highscoreBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  ol {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    gap: 40px;
    li {
      color: white;
      width: 500px;
      align-content: center;
      text-align: center;
      font-size: 32px;
    }
  }
  h1 {
    color: white;
    font-size: 52px;
  }
  h2 {
    color: white;
    font-size: 32px;
  }
}

.leaderboardButtons button {
  margin: 20px;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
  background-color: #144a68;
  color: white;
  border-radius: 10px;
  border-style: none;
}

#highscores_3 {
  display: none;
}

#highscores_4 {
  display: none;
}

#highscores_5 {
  display: none;
}

#highscores_6 {
  display: none;
}

#highscores_3.active {
  display: flex;
}

#highscores_4.active {
  display: flex;
}

#highscores_5.active {
  display: flex;
}

#highscores_6.active {
  display: flex;
}

.leaderboardButtons button.active {
  border: 2px solid white;
}
