<nav>
        <ul class="menuItems">
          {{#each menuItems}}
            <li class="menuItem {{#if this.active}}active{{else}}inactive{{/if}}">
              <a href="{{this.link}}">{{this.label}}</a>
            </li>
          {{/each}}
        </ul>
      </nav>