<div class='aboutBox'>
  <div class='aboutText'>
    <h1 class='aboutTitle'>About the project</h1>
    <h2 class='aboutSubtitle'>This project is a school assignment where I try to
      replicate the popular word guessing game Wordle where the computer will
      pick a random word for you to guess! If the letter is green it means that
      its placed correctly. Yellow means misplaced and red means incorrect. With
      this information you’ll have to deduct what the correct word is! Your
      score will be calculated by time spent solving the challenge, and also a
      deduction for each incorrect word guessed. Good luck!</h2>
  </div>
</div>